/* General */
body{
  /* background-color: lightgreen; */
}


/* Header */

/* Navbar */
.navbar{
  position: fixed;
  top: 0;
  left: 0;
  height: 70px;
  width: 100%;
  line-height: 70px;
  z-index: 5;
  background-color: pink;

}

.logo img{
  height: 30px;
}

.menu_item ul li{
  display: inline-block;
}

.menu_right{
  background-color: brown;
  /* height: 100%; */
}
.menu_left{
  background-color: yellow;
  height: 100%;
}

/* Jumbotron */

.jumbo{
  width: 100%;
  height: 500px;
  margin-top: 70px;
  padding-top: 100px;
  background-color: violet;
}

/* Section logos */
#logos{
  height: 200px;
  background-color: lightgreen;

}
.logos_list li{
  display: inline-block;
}
/* Main*/



/* Footer */

/* Media Query */
/* XS */
@media screen and (max-width: 768px){
  .wrapper_xs_100{
    width: 100%;
    margin: 0 auto;
  }
}
/* MD */
@media screen and (min-width: 768px){

}

/* LG */
@media screen and (min-width: 992px){
  /* .wrapper_lg_80{
    width: 80%;
    margin: 0 auto;
  } */
}
