/* General */
body{
  font-family: 'Roboto', sans-serif;
  /* background-color: lightgreen; */
}

/* Header */

/* Navbar */
.navbar{
  position: fixed;
  top: 0;
  left: 0;
  height: 70px;
  width: 100%;
  line-height: 70px;
  z-index: 20;
  /* background-color: pink; */
  background-color: white;
}

.logo img{
  height: 30px;
}

.menu_item ul li{
  display: inline-block;
  padding-left: 15px;
}

.menu_item li a{
  text-decoration: none;
  color: #031B4E;
  font-weight: bold;
}

.menu_item li a:hover,
.menu_item li a:active,
.menu_item li a:focus{
  color: #0069FF;
}

.menu_down{
  vertical-align: middle;
  font-size: 10px;
}

.btn_blue{
  color: #0069FF;
  border: 1px solid #0069FF;
  font-weight: bold;
}

.btn_blue:hover,
.btn_blue:active,
.btn_blue:focus{
  background-color: #0069FF;
  color: white;
}

.menu_right{
  /* background-color: brown; */
  height: 100%;
}

.menu_left{
  /* background-color: yellow; */
  height: 100%;
}

/* Jumbotron */

.jumbo{
  width: 100%;
  height: 500px;
  margin-top: 70px;
  padding-top: 100px;
  background-color: violet;
}

.header_form{
  width: 100%;
  height: 200px;
  background-color: lightyellow;
}

/* Section logos */
#logos{
  height: 200px;
  background-color: lightgreen;

}
.logos_list li{
  display: inline-block;
}
/* Main*/



/* Footer */

/* Media Query */
/* XS */
@media screen and (max-width: 768px){
  .wrapper_xs_100{
    width: 100%;
    margin: 0 auto;
  }
}
/* MD */
@media screen and (min-width: 768px){

}

/* LG */
@media screen and (min-width: 992px){
  /* .wrapper_lg_80{
    width: 80%;
    margin: 0 auto;
  } */
}
