/* General */
body{
  font-family: 'Roboto', sans-serif;
  /* background-color: lightgreen; */
}

.color_blue{
  color: #031B4E;
}

.color_blue_electric{
  color: #064CFF;
}

/* Header */

/* Navbar */
.navbar{
  position: fixed;
  top: 0;
  left: 0;
  height: 70px;
  width: 100%;
  line-height: 70px;
  z-index: 20;
  /* background-color: pink; */
  background-color: white;
}

.logo img{
  height: 30px;
}

.menu_item ul li{
  display: inline-block;
  padding-left: 15px;
}

.menu_item li a{
  text-decoration: none;
  color: #031B4E;
  font-weight: bold;
}

.menu_item li a:hover,
.menu_item li a:active,
.menu_item li a:focus{
  color: #0069FF;
}

.menu_down{
  vertical-align: middle;
  font-size: 10px;
}

.btn_blue{
  color: #0069FF;
  border: 1px solid #0069FF;
  font-weight: bold;
}

.btn_blue:hover,
.btn_blue:active,
.btn_blue:focus{
  background-color: #0069FF;
  color: white;
}

.menu_right{
  /* background-color: brown; */
  height: 100%;
}

.menu_left{
  /* background-color: yellow; */
  height: 100%;
}

/* Jumbotron */

.jumbo{
  width: 100%;
  /* height: 500px; */
  margin-top: 70px;
  padding-top: 80px;
  padding-bottom: 50px;
  background-image: url(../img/bg-home-1-d54581d7.jpg);
  background-size: cover;

}

.header_text{
  padding-right: 70px;
  color: white;
}

/* .header_text h1{
  font-size: 50px;
}

.header_text p{
  font-size: 22px;
} */

.header_text h1{
  font-size: 40px;
}
.header_text p{
  font-size: 18px;
}


/* Form */
.header_form{
  width: 100%;
  border-radius: 2%;
  /* height: 300px; */
  /* padding: 50px 10px; */
  background-color: white;
}

.padding_form{
  padding: 20px 20px;
}

.width_100{
  width: 100%;
}
.font_bold{
  font-weight: bold;
}

.color_grey{
  color: #5D5F83;
}
.text_term{
  padding-top: 15px;
}

.link_underline{
  text-decoration: underline;
}

.google_icon{
  height: 20px;
}



/* Section logos */
#logos{
  height: 200px;
  background-color: lightgreen;

}
.logos_list li{
  display: inline-block;
}
/* Main*/



/* Footer */

/* Media Query */
/* XS */
@media screen and (max-width: 768px){
  .wrapper_xs_100{
    width: 100%;
    margin: 0 auto;
  }
  /* .header_text h1{
    font-size: 40px;
  }
  .header_text p{
    font-size: 18px;
  } */
}
/* MD */
@media screen and (min-width: 768px){
  /* .header_text h1{
    font-size: 40px;
  }
  .header_text p{
    font-size: 18px;
  } */
}

/* LG */
@media screen and (min-width: 992px){
  /.header_text h1{
    font-size: 50px;
  }

  .header_text p{
    font-size: 22px;
  }
}
